h1 {
    font-size: 32px;
    color: brown;
}

.recipe-name {
    color: green;
}

li {
    font-size: 24px;
}

a {
    color: black;
}

img {
    height: 400px;
    width: auto;
}

h2{
    font-size: 28;
}

div {
    font-size: 22px;
}

h3 {
    font-size: 28px;
}

h4{
    font-size: 24px;
}